<div class="container">

  <div class="page-header">
    <h1><%= @project.name %>: Manage Members</h1>
  </div>
  <ol class="breadcrumb">
    <li><%= link_to 'Projects', projects_path %></li>
    <li> <%= link_to @project.name, project_path(@project) %> </li>
    <li class="active">Memberships</li>
  </ol>

  <div class="well form-inline">
    <%= form_for([@project, @membership]) do |f| %>
    <%= render partial: 'shared/error', locals: {object: @membership} %>
    <div class="form-group">
      <%= f.collection_select :user_id, User.all, :id, :full_name, {prompt: "Please select a user..."}, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.select :role, Membership.roles.keys.map {|role| [role.titleize,role]}, {}, class:"form-control"%>
    </div>
    <div class="form-group">
      <%= f.submit 'Add New Member', class: "btn btn-info" %>
    </div>
    <% end %>
  </div>

  <div class="form-inline">
    <div class="row">
    <% @project.memberships.each do |membership| %>
    <%= form_for [@project, membership] do |f| %>
    <div class="form-group col-md-2">
      <%= link_to membership.user.full_name, user_path(membership.user) if membership.user %>
    </div>
    <div class="form-group">
      <%= f.collection_select :role, Membership.roles, :first, :first, class: "form-control" %>
    </div>
    <div class="form-group">
      <div class="action">
        <%= f.submit "Update", class: "btn btn-info" %>
        <%= link_to "<span class=\"glyphicon glyphicon-remove\"></span>".html_safe, project_membership_path(@project, membership), method: :delete %>
      </div>
    </div>
    <% end %>
    <br>
    <% end %>
  </div>
</div>
</div>
