<body>
  <div class="container">

    <div class="page-header">
      <div class="pull-right">
        <a class="btn btn-info"<%= link_to 'Edit', edit_user_path %>
      </div>
      <h1><%= @user.full_name %></h1>
    </div>

    <ol class="breadcrumb">
      <li><%= link_to 'Users', users_path %></li>
      <li class="active"><%= @user.full_name %></li>
    </ol>

    <dl class="dl-horizontal">
      <p><dt><strong>First Name:</strong></dt></p>
        <p><dd><%= @user.first_name %></dd></p>
      <p><dt><strong>Last Name:</strong></dt></p>
        <p><dd><%= @user.last_name %></dd></p>
      <p><dt><strong>Email:</strong></dt></p>
        <p><dd><%= mail_to @user.email %></dt></p>
    </dl>

  </div>
</body>
