<div class="container">
<%= form_for(@user, url: signup_path, html: {class: "well col-md-4 col-md-offset-4"}) do |f| %>

<h2>Sign Up for gCamp</h2>

<%= render partial: 'shared/error', locals: {object: @user} %>

  <div><%= f.label :first_name %></div>
  <div><%= f.text_field :first_name, class: "form-control" %></div>

  <div><%= f.label :last_name %></div>
    <div><%= f.text_field :last_name, class: "form-control" %></div>

  <div><%= f.label :email %></div>
    <div><%= f.text_field :email, class: "form-control" %></div>

  <div><%= f.label :password %></div>
    <div><%= f.password_field :password, class: "form-control" %></div>

  <div><%= f.label :password_confirmation %></div>
    <div><%= f.password_field :password_confirmation, class: "form-control" %></div>

    <br>


  <div><%= f.submit 'Sign Up', class: 'btn btn-primary' %></div>
<% end %>
</div>
